rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read access to any authenticated user.
    match /{document=**} {
      allow read: if request.auth != null;
    }

    // Parties collection: Only allow updates if the user is authenticated
    // and creating the doc, otherwise deny
   match /parties/{partyId} {
      allow create: if request.auth != null;
      allow update: if request.auth != null;
      allow read: if request.auth != null;
      allow delete: if false; // No one can delete a party.
    }

    // Secure user profiles. Only the authenticated user can read/write their own profile.
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}