rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to all files by default
    match /{allPaths=**} {
      allow read;
    }
    
    // Allow public write access to the SavedMaps folder for map sharing
    match /SavedMaps/{allPaths=**} {
      allow write: if true;
    }

    // Allow write access (create, update, delete) only to authenticated users
    // in other specific folders.
    match /(candidates|logos|events|parties|maps|news|constituency-logos|leaders)/{allPaths=**} {
        allow write: if request.auth != null;
    }
  }
}

    