
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 67% 95%;
    --foreground: 210 40% 9.8%;
    --card: 200 67% 98%;
    --card-foreground: 210 40% 9.8%;
    --popover: 200 67% 98%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 204 64% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 45 88% 50%;
    --accent-foreground: 48 96% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 204 64% 44%;
    --radius: 0.5rem;
    --chart-1: 54 96% 54%;
    --chart-2: 54 96% 75%;
    --chart-3: 0 72% 70%;
    --chart-4: 280 65% 60%;
    --chart-5: 0 72% 51%;
  }

  .dark {
    --background: 210 40% 9.8%;
    --foreground: 210 40% 98%;
    --card: 210 40% 9.8%;
    --card-foreground: 210 40% 98%;
    --popover: 210 40% 9.8%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 45 88% 50%;
    --accent-foreground: 48 96% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 204 64% 44%;
    --chart-1: 54 96% 54%;
    --chart-2: 54 96% 75%;
    --chart-3: 0 72% 70%;
    --chart-4: 280 65% 60%;
    --chart-5: 0 72% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .red-stripes-overlay {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(229, 57, 53, 0.7),
      rgba(229, 57, 53, 0.7) 5px,
      transparent 5px,
      transparent 10px
    );
  }
  .purple-red-stripes-overlay {
    background-image: repeating-linear-gradient(
      45deg,
      #ef4444,
      #ef4444 5px,
      #a855f7 5px,
      #a855f7 10px
    );
  }
  .purple-yellow-stripes-overlay {
      background-image: repeating-linear-gradient(
      45deg,
      #f59e0b,
      #f59e0b 5px,
      #a855f7 5px,
      #a855f7 10px
    );
  }
}
